.inicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94vh;
  background-color: #f0f0f0;
}

.info-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.info-container p {
  margin: 10px 0;
  font-size: 16px;
}

.info-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}